<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i>{:lang('Classified management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('category/index')}" data-title="{:lang('Life service classification')}" href="javascript:void(0)">{:lang('Life service classification')}</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-city">
			<dt><i class="Hui-iconfont">&#xe616;</i> {:lang('city management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('citys/index')}" data-title="{:lang('city classification')}" href="javascript:void(0)">{:lang('city classification')}</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-area">
			<dt><i class="Hui-iconfont">&#xe616;</i> {:lang('Merchant management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('area/index')}" data-title="{:lang('Shopping circle classification')}" href="javascript:void(0)">{:lang('Shopping circle classification')}</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-bis">
			<dt><i class="Hui-iconfont">&#xe613;</i> {:lang('Merchant management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('bis/index')}" data-title="{:lang('Merchant list')}" href="javascript:void(0)">{:lang('Merchant list')}</a></li>
					<li><a _href="{:url('bis/apply')}" data-title="{:lang('Business applications')}" href="javascript:void(0)">{:lang('Business applications')}</a></li>
					<li><a _href="{:url('bis/dellist')}" data-title="{:lang('Deleted merchant')}" href="javascript:void(0)">{:lang('Deleted merchant')}</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-store">
			<dt><i class="Hui-iconfont">&#xe613;</i> {:lang('Store management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('BisLocation/index')}" data-title="{:lang('List of stores')}" href="javascript:void(0)">{:lang('List of stores')}</a></li>
					<li><a _href="{:url('BisLocation/apply')}" data-title="{:lang('Store applications')}" href="javascript:void(0)">{:lang('Store applications')}</a></li>
					<li><a _href="{:url('BisLocation/dellist')}" data-title="{:lang('Deleted stores')}" href="javascript:void(0)">{:lang('Deleted stores')}</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> {:lang('Group merchandise management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('deal/apply')}" data-title="{:lang('Group purchase submission')}" href="javascript:void(0)">{:lang('Group purchase submission')}</a></li>
					<li><a _href="{:url('deal/index')}" data-title="{:lang('Buy list')}" href="javascript:void(0)">{:lang('Buy list')}</a></li>
					
				</ul>
			</dd>
		</dl>
		<dl id="menu-pos">
			<dt><i class="Hui-iconfont">&#xe620;</i> {:lang('Recommended bit management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('featured/add')}" data-title="{:lang('Add recommended bit content')}" href="javascript:void(0)">{:lang('Add recommended bit content')}</a></li>
					<li><a _href="{:url('featured/index')}" data-title="{:lang('Recommended bit list')}" href="javascript:void(0)">{:lang('Recommended bit list')}</a></li>
					
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> {:lang('Order management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('order/index')}" data-title="订单列表" href="javascript:void(0)">{:lang('Order list')}</a></li>
					<li><a _href="{:url('order/del')}" data-title="删除的订单" href="javascript:void(0)">{:lang('Deleted order')}</a></li>
					
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('Member management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('user/index')}" data-title="{:lang('Member list')}" href="javascript:;">{:lang('Member list')}</a></li>
					<li><a _href="" data-title="{:lang('Deleted member')}" href="javascript:;">{:lang('Deleted member')}</a></li>
				
				</ul>
			</dd>
		</dl>
		{if condition='$isSuper eq 1'}
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('Administrator management')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('admin/index')}" data-title="{:lang('managers')}" href="javascript:;">{:lang('managers')}</a></li>
					<li><a _href="{:url('admin/add')}" data-title="{:lang('Admin add')}" href="javascript:;">{:lang('Admin add')}</a></li>
				
				</ul>
			</dd>
		</dl>
		{/if}
	</div>
</aside>